CREATE DATABASE [QLDSV]
GO
USE [QLDSV]
GO
/****** Object:  Role [ADMIN]    Script Date: 09/07/2018 07:16:17 ******/
CREATE ROLE [ADMIN] AUTHORIZATION [dbo]
GO
/****** Object:  Role [USER]    Script Date: 09/07/2018 07:16:17 ******/
CREATE ROLE [USER] AUTHORIZATION [dbo]
GO
/****** Object:  Schema [ADMIN]    Script Date: 09/07/2018 07:16:17 ******/
CREATE SCHEMA [ADMIN] AUTHORIZATION [ADMIN]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 09/07/2018 07:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [char](4) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'VT  ', N'Viễn thông')
GO
CREATE PROC GetKhoas
AS
	SELECT * FROM KHOA;
/****** Object:  Table [dbo].[MONHOC]    Script Date: 09/07/2018 07:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](6) NOT NULL,
	[TENMH] [nvarchar](40) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_MONHOC] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CTDL  ', N'Caáu truùc döõ lieäu')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CSDL  ', N'Co so du lieu')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CSDLPT', N'Co so du lieu phan tan')
/****** Object:  Table [dbo].[LOP]    Script Date: 09/07/2018 07:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](8) NOT NULL,
	[TENLOP] [nvarchar](200) NULL,
	[MAKH] [char](4) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'C10THA1 ', N'Cao dang chính qui CNTT', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D08VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2008', N'VT  ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D09VTA1 ', N'Đại học chính qui 1  Viễn thông Khóa 2009', N'VT  ')
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 09/07/2018 07:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[MAKH] [char](4) NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH]) VALUES (N'GV01      ', N'NGUYEN HONG', N'SON       ', N'CNTT')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH]) VALUES (N'GV02      ', N'TRUONG DINH', N'HUY       ', N'CNTT')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [MAKH]) VALUES (N'GV03      ', N'NGUYEN XUAN', N'KHANH     ', N'VT  ')

/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 09/07/2018 07:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](12) NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[MALOP] [char](8) NOT NULL,
	[PHAI] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[NOISINH] [nvarchar](40) NULL,
	[DIACHI] [nvarchar](80) NULL,
	[GHICHU] [ntext] NULL,
	[NGHIHOC] [bit] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_MALOP_TEN] ON [dbo].[SINHVIEN] 
(
	[MALOP] ASC,
	[TEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TENHO] ON [dbo].[SINHVIEN] 
(
	[TEN] ASC,
	[HO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC]) VALUES (N'08VTA101    ', N'Nguyễn Thanh', N'Hằng', N'D08VTA1 ', 1, CAST(0x00006C5500000000 AS DateTime), N'Haø noäi', N'11 Leâ Vaên Syõ', N'', 0)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC]) VALUES (N'08VTA102    ', N'Võ Văn', N'Phát', N'D08VTA1 ', 1, CAST(0x00006CEB00000000 AS DateTime), N'Phuù Yeân', N'246 Phaân Ñình Phuøng', N' ', 0)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [MALOP], [PHAI], [NGAYSINH], [NOISINH], [DIACHI], [GHICHU], [NGHIHOC]) VALUES (N'09THA101    ', N'Le Thi', N'Van', N'D16CQCN1', 0, CAST(0x00006D0B00000000 AS DateTime), N'Haø noäi', N'Ngoâ Quyeàn', N' ', 0)
/****** Object:  View [dbo].[v_SISO]    Script Date: 09/07/2018 07:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SISO]
AS
SELECT L.MALOP , L.TENLOP, COUNT(S.MASV ) AS SISO
FROM LOP L LEFT JOIN 
  (SELECT MASV, MALOP FROM SINHVIEN WHERE NGHIHOC='FALSE') S
     ON L.MALOP=S.MALOP 
GROUP BY L.MALOP, L.TENLOP
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 09/07/2018 07:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [char](12) NOT NULL,
	[MAMH] [char](6) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 09/07/2018 07:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [char](12) NOT NULL,
	[NIENKHOA] [nvarchar](50) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[SOTIENDADONG] [int] NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_HOCPHI_HOCKY]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
/****** Object:  Default [DF_HOCPHI_HOCPHI]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
/****** Object:  Default [DF_HOCPHI_SOTIENDADONG]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_SOTIENDADONG]  DEFAULT ((0)) FOR [SOTIENDADONG]
GO
/****** Object:  Check [CK_DIEM_DIEM]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_DIEM]
GO
/****** Object:  Check [CK_DIEM_LAN]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [CK_DIEM_LAN]
GO
/****** Object:  ForeignKey [FK_LOP_KHOA1]    Script Date: 09/07/2018 07:16:20 ******/
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA1]
GO
/****** Object:  ForeignKey [FK_GIANGVIEN_KHOA]    Script Date: 09/07/2018 07:16:20 ******/
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
/****** Object:  ForeignKey [FK_SINHVIEN_LOP]    Script Date: 09/07/2018 07:16:26 ******/
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
/****** Object:  ForeignKey [FK_DIEM_MONHOC1]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC1]
GO
/****** Object:  ForeignKey [FK_DIEM_SINHVIEN]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[DIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
/****** Object:  ForeignKey [FK_HOCPHI_SINHVIEN]    Script Date: 09/07/2018 07:16:27 ******/
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_DSLOP]    Script Date: 09/07/2018 07:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Liệt kê các lớp trên từng server dựa vào link
CREATE PROCEDURE [dbo].[SP_DSLOP] AS
  SELECT  TENLOP FROM DBO.LOP
UNION
  SELECT  TENLOP FROM LINK1.QLDSV.DBO.LOP
GO
--Bang diem mon hoc cua sinh vien theo lop
CREATE PROC [dbo].[SP_BANGDIEMMONHOCTHEOLOP]
@TENLOP nvarchar(80), @TENMH nvarchar(40), @LAN smallint
as
begin
	select ROW_NUMBER() OVER (
	ORDER BY l.TENLOP
   ) #,HOTEN=sv.HO+' '+sv.TEN,d.DIEM
	from DIEM as d 
	inner join MONHOC as mh on d.MAMH = mh.MAMH
	inner join SINHVIEN as sv on sv.MASV=d.MASV
	inner join LOP as l on l.MALOP = sv.MALOP
	where l.TENLOP=@TENLOP
		and mh.TENMH= @TENMH
		and d.LAN=@LAN
end
go
--Bang diem mon hoc cua tung sinh vien
create proc [dbo].[sp_BangDiemMonHoc]
@MASV char(12)
as
	begin
		SELECT 'Ho va Ten' = (SELECT HO + ' ' +Ten FROM SINHVIEN WHERE SINHVIEN.MASV = @MASV),
		DIEM = (SELECT DIEM FROM DBO.DIEM WHERE DIEM.MASV = @MASV) 
		FROM DIEM d
		WHERE MASV = @MASV;
	END
go
--Thong tin user khi dang nhap vao
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))

go
--Liệt kê tất cả các giảng viên trên từng server
CREATE PROCEDURE [dbo].[SP_DSGIANGVIEN] AS
  SELECT  MAGV FROM DBO.GIANGVIEN
UNION
  SELECT  MAGV FROM LINK1.QLDSV.DBO.GIANGVIEN

go
--Môn học
CREATE PROCEDURE [dbo].[SP_DSMONHOC] AS
  SELECT  MAMH FROM DBO.MONHOC

go
--DS sinh viên 
CREATE PROCEDURE [dbo].[SP_DSSINHVIEN] AS
  SELECT  MASV FROM DBO.SINHVIEN
UNION
  SELECT  MASV FROM LINK1.QLDSV.DBO.SINHVIEN

go
--Liệt kê tất cả các sinh viên thuộc 1 lớp
CREATE PROC [dbo].[SP_DSSVTHEOLOP]
@MALOP CHAR(8)
AS
	SELECT HO, TEN, PHAI, NGAYSINH, NOISINH, DIACHI 
	FROM SINHVIEN, LOP
	WHERE SINHVIEN.MALOP = LOP.MALOP AND SINHVIEN.MALOP = @MALOP;

go
--Liệt kê danh sách thi hết môn của sinh viên còn đi học
CREATE PROCEDURE [dbo].[SP_DSTHIHETMON] @MALOP NCHAR (8), @MAMH NCHAR (8), @LAN SMALLINT
AS
SELECT row_number() OVER (ORDER BY SINHVIEN.MASV) STT ,SINHVIEN.MASV, HOTEN = HO + ' ' + TEN,
SOTO ='',
DIEM = '', CHUKY = ''
FROM DBO.SINHVIEN
WHERE SINHVIEN.MALOP = @MALOP AND SINHVIEN.NGHIHOC = 'false';
go
--Phiếu điểm của sinh viên
CREATE PROC [dbo].[SP_PHIEUDIEMSINHVIEN]
@MASV NCHAR(8)
AS
SELECT row_number() OVER (ORDER BY DIEM.MAMH) STT, DIEM.MAMH, TEMH = (SELECT TENMH FROM MONHOC WHERE MONHOC.MAMH = DIEM.MAMH), MAX(DIEM) DIEM
FROM DBO.DIEM
WHERE DIEM.MASV = @MASV
GROUP BY DIEM.MAMH
go
--TẠO LOGIN 
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'PGV' OR @ROLE= 'KHOA' OR @ROLE= 'KETOAN'
  BEGIN
    EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
	EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
	EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
  END
RETURN 0  -- THANH CONG

go
--Thông tin của sinh viên
CREATE PROC [dbo].[SP_TTSINHVIEN](@MASV CHAR(12))
AS
BEGIN
	SELECT 'Ho va Ten' = (SELECT HO + ' ' +Ten FROM SINHVIEN WHERE SINHVIEN.MASV = @MASV),
	MALOP
	FROM SINHVIEN sv
	WHERE sv.MASV = @MASV;
END
go
--Lấy ra đc tên các phân mảnh trên từng server
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server
go
--BẢNG ĐIỂM TỔNG KẾT
CREATE PROC [dbo].[sp_BANGDIEMTONGKET]
@malop CHAR(8)
AS
BEGIN
	SELECT SV.MASV, HOTEN = SV.HO + ' ' + SV.TEN, MH.TENMH, DIEM = MAX(D.DIEM) 
	FROM SINHVIEN AS SV, DIEM AS D, MONHOC AS MH
	WHERE 
	SV.MALOP = @malop AND
	SV.NGHIHOC = 0 AND
	SV.MASV = D.MASV AND
	D.MAMH = MH.MAMH
	GROUP BY SV.MASV, SV.HO, SV.TEN, MH.MAMH, MH.TENMH
	ORDER BY SV.TEN ASC
END
GO
--ds đóng học phí của từng sinh viên
CREATE PROC [dbo].[sp_DSDONGHOCPHILOP]
@MALOP char(8),
@NIENKHOA nvarchar(50),
@HOCKY int
AS
BEGIN
   SELECT ROW_NUMBER() over(order by HO) STT,HO + ' ' + TEN AS ' HỌ VÀ TÊN ' , HOCPHI AS 'HỌC PHÍ',SOTIENDADONG AS 'SỐ TIỀN ĐÃ ĐÓNG'
   FROM [QLDSV].[dbo].[SINHVIEN] as SV
   inner join [QLDSV].[dbo].[HOCPHI] AS HP
   on SV.MASV = HP.MASV
   WHERE HP.HOCKY = @HOCKY AND HP.NIENKHOA = @NIENKHOA AND SV.MALOP=@MALOP

END
